# general
.env

# frontend
node_modules
deployments


# backend
migrations
dev.db
dev.db-journal

# hardhat
artifacts
cache

#vscode
.vscode/extensions.json
.vscode/launch.json
.vscode/settings.json.default
